@font-face {
  font-family: 'Circe';
  src: url('../../public/fonts/Circe-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Extra';
  src: url('../../public/fonts/Circe-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../public/fonts/Circe-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}