$color-base-dark-gray: #9aa1a7;
$color-base-gray: #eaf0f3;
$color-base-blue: #1b2a39;
$color-base-red: #ee2e24;

$link-color: $color-base-red;
$link-hover-color: darken($color-base-red, 15%);

$base-font-family: 'Circe', sans-serif;
$base-font-size: 16px;
$base-font-color: $color-base-blue;
$base-width: 1170px;